@define-color primary rgba(123, 0, 44, 1);

* {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  font-family: "DM Sans", "CodeNewRoman Nerd Font", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

window#waybar {
  background-color: #fff;
  padding-right: 12px;
  /*border: solid 2px @primary;*/
  min-height: 14px; /* set waybar's height to 14px */
  font-size: 14px; /* set only the font size to be bigger, which in turn will adjust the height of other elements */
}

#clock,
#battery,
#cpu,
#wireplumber,
#bluetooth {
  padding: 0 12px;
}

#workspaces button {
  border-radius: 0;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: #000;
  color: #fff;
}

#workspaces {
}

#privacy-item.screenshare {
  color: #000;
  background-color: #ff5733;
}

#privacy-item.audio-in {
  color: #000;
  background-color: #ffae42;
}
