@define-color primary rgba(123, 0, 44, 1);
@import "latte.css";

* {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 12px;
}

#waybar {
  font-family: "DM Sans", "CodeNewRoman Nerd Font", sans-serif;
  padding: 4px 8px;
  background-color: transparent;
  border-radius: 12px;
  min-height: 14px; /* set waybar's height to 14px */
  font-size: 14px; /* set only the font size to be bigger, which in turn will adjust the height of other elements */
}

.modules-left {

}

.modules-right {

}

#clock,
#battery,
#cpu,
#wireplumber,
#bluetooth,
#network {
  margin-top: 6px;
  padding: 4px 12px;
  background-color: @surface0;
  color: @text;
}

#clock {
  margin-top: 6px;
  margin-right: 16px;
  border-radius: 0 12px 12px 0;
}

#workspaces {
  margin-top: 6px;
  margin-left: 16px;
}

#workspaces button {
  border-radius: 0;
  padding-left: 3px;
  padding-right: 3px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @surface1;
  border-radius: 12px;
}

#workspaces button.focused {
  background-color: @surface1;
  border-radius: 12px;
  border: solid 1px #7287fd;
}

#workspaces {
  background-color: @surface0;
  padding: 2px 4px;
  border-radius: 12px;
}

#privacy-item.screenshare {
  margin-top: 6px;
  border-radius: 12px;
  color: #000;
  background-color: #ff5733;
}

#privacy-item.audio-in {
  margin-top: 6px;
  border-radius: 12px;
  color: #000;
  background-color: #ffae42;
}

#network {
  border-radius: 12px 0 0 12px;
}

#tray {
  background-color: @surface0;
  margin-top: 6px;
  border-radius: 12px;
  padding: 2px 4px;
  margin-right: 16px;
}

#window {
  margin-left: 16px;
  background-color: @surface0;
  font-family: "light";
  margin-top: 6px;
  border-radius: 12px;
  padding: 2px 4px;
  color: @text;
}
